*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# Gradle
/build/
**/build/

# Android Studio captures
captures/

# Kotlin
*.kts

# Misc
*.log

# Ignore signing keystore(s)
*.jks
*.keystore

# If using local properties for secrets
*.env



